In [3]:
import datetime as dt

### Prerequisites

#### The 60 Paired Powers

Extracting the names of Tai Sui deities from a text file obtained by some clandestine means and saving them neatly in another text file to work with further on.

In [13]:
with open('E:\Learn\อ.มาศ\六十太歲星君.txt') as txt:
    lines = txt.readlines()

lines

pairs = [line[:2] for line in lines if line.strip().endswith('太歲')]  # extracting the Tai Sui names = power pairs

# NEVER RUN THIS PART AGAIN UNLESS pairs.txt FILE IS MISSING OR CORRUPTED!!! IF RUN, *CHECK_THE_ORDER_OF_PAIRS* AFTERWARDS!!!

# with open('pairs.txt', 'w') as writer:  # saving the power pairs to file
#   for pair in pairs:
#       print(pair)
#       writer.write(pair + '\n')

In [17]:
with open('pairs.txt') as reader:  # reading the power pairs back from file
    pairs = [line.strip() for line in reader.readlines()]
    
pairs

['甲子',
 '乙丑',
 '丙寅',
 '丁卯',
 '戊辰',
 '己巳',
 '庚午',
 '辛未',
 '壬申',
 '癸酉',
 '甲戌',
 '乙亥',
 '丙子',
 '丁丑',
 '戊寅',
 '己卯',
 '庚辰',
 '辛巳',
 '壬午',
 '癸未',
 '甲申',
 '乙酉',
 '丙戌',
 '丁亥',
 '戊子',
 '己丑',
 '庚寅',
 '辛卯',
 '壬辰',
 '癸巳',
 '甲午',
 '乙未',
 '丙申',
 '丁酉',
 '戊戌',
 '己亥',
 '庚子',
 '辛丑',
 '壬寅',
 '癸卯',
 '甲辰',
 '乙巳',
 '丙午',
 '丁未',
 '戊申',
 '己酉',
 '庚戌',
 '辛亥',
 '壬子',
 '癸丑',
 '甲寅',
 '乙卯',
 '丙辰',
 '丁巳',
 '戊午',
 '己未',
 '庚申',
 '辛酉',
 '壬戌',
 '癸亥']

#### The Zero Point in Time

In [108]:
#  The zero point - foundation of Rattanakosin
RoSo = dt.datetime(year=2325-543, 
                   month=4, 
                   day=21,
                   hour=6,
                   minute=54)

RoSo

datetime.datetime(1782, 4, 21, 6, 54)

In [20]:
present = dt.datetime.now()
present

datetime.datetime(2022, 7, 25, 19, 41, 49, 472880)

#### Duang at Zero

In [21]:
zero_duang = (pairs.index('壬寅'), pairs.index('甲辰'), pairs.index('丙午'), pairs.index('辛卯'))
zero_duang  # year, month, day, yarm

(38, 40, 42, 27)

In [98]:
zero_year, zero_month, zero_day, zero_yarm = zero_duang
zero_year

38

In [109]:
print('year:', pairs[zero_year])
print('month:', pairs[zero_month])
print('day:', pairs[zero_day])
print('yarm:', pairs[zero_yarm])

year: 壬寅
month: 甲辰
day: 丙午
yarm: 辛卯

## BEGIN CALCULATIONS

Setting the touchstone duang timepoint (duang1.jpg)

In [164]:
touchstone_params = {'year': 2525-543, 
                      'month': 6, 
                      'day': 29,
                      'hour': 13,
                      'minute': 40}

timepoint = dt.datetime(*(touchstone_params.values()))

timepoint

datetime.datetime(1982, 6, 29, 13, 40)

In [129]:
touchstone_year, touchstone_month, touchstone_day, touchstone_yarm = '壬戌', '丙午', '癸未', '戊午'

### Year

index = RoSo.index + (target.year - RoSo.year) % 60 - (RoSo.index + (target.year - RoSo.year) % 60) > 60) * 60

In [124]:
def year_pair(timepoint):
    their_year = timepoint.year
    index = zero_year + ((their_year - RoSo.year) % 60) - int((zero_year + ((their_year - RoSo.year) % 60) > 59)) * 60
    pair = pairs[index]
    return pair

In [125]:
year_pair(timepoint)

'壬戌'

In [130]:
year_pair(timepoint) == touchstone_year

True

#### Test it

In [104]:
from random import randint, sample

In [169]:
def test_year(year):
    data=dict(touchstone_params)
    data['year'] = year
    timepoint = dt.datetime(*(data.values()))
    print(year, year_pair(timepoint))

In [170]:
year = randint(1924, 2043)
test_year(year)

1938 戊寅

In [172]:
years = sample(range(1924, 2044), 17)
for year in years:
    test_year(year)

2002 壬午
1972 壬子
2000 庚辰
1969 己酉
1925 乙丑
1994 甲戌
2011 辛卯
1975 乙卯
2040 庚申
2013 癸巳
1987 丁卯
1933 癸酉
2019 己亥
1988 戊辰
1957 丁酉
1984 甲子
1974 甲寅

In [174]:
touchstone_params, timepoint

({'year': 1982, 'month': 6, 'day': 29, 'hour': 13, 'minute': 40},
 datetime.datetime(1982, 6, 29, 13, 40))

### Month

In [186]:
def month_pair(timepoint):
    month_delta = (timepoint.year - RoSo.year) * 12 + (timepoint.month - RoSo.month)
    # print(month_delta)
    index = zero_month + (month_delta % 60 - int((zero_month + month_delta % 60) > 59) * 60)
    # print(index)
    pair = pairs[index]
    return pair

In [187]:
month_pair(timepoint)

'丙午'

In [188]:
month_pair(timepoint) == touchstone_month

True

In [191]:
# check on another duang
boss = dt.datetime(1982, 1, 12)
boss

datetime.datetime(1982, 1, 12, 0, 0)

In [192]:
month_pair(boss)

'辛丑'

In [190]:
str(boss)

'1982-01-12 13:40:00'